In [1]:
import pandas as pd
import os
import ast

### NGOs

In [13]:
path='datasets/extended_features.csv'

In [14]:
df=pd.read_csv(path,dtype='str',index_col=0)
df['text_new']=df['text_new'].apply(ast.literal_eval)
df=df[~df.id.isin(['902203267001851904','1009290406108905473','1213468426062254082'])].copy()
df.index=df.index.astype(int)
df=df.dropna(subset='label').copy()

In [15]:
df_out=pd.DataFrame(columns=df.columns)
df_hiddens = pd.DataFrame(columns=df.columns)

In [16]:
pd.merge(df.groupby(["relatedNGO","label"]).count()[['conversation_id']],df.groupby(["relatedNGO","label"]).count()[['conversation_id']]/df.groupby(['relatedNGO']).count()[['conversation_id']],how='left',left_index=True,right_index=True)

                       conversation_id_x  conversation_id_y
relatedNGO      label
BritishRedCross 0                   9256           0.904348
                1                    979           0.095652
CatholicRelief  0                   1071           0.982569
                1                     19           0.017431
Ch_JesusChrist  0                  16566           0.998854
                1                     19           0.001146
Habitat_org     0                   4737           0.949870
                1                    250           0.050130
ICRC_Nairobi    0                    664           0.922222
                1                     56           0.077778
IFRC_Europe     0                   2371           0.992050
                1                     19           0.007950
NepalRedCross   0                    102           0.871795
                1                     15           0.128205
RESCUEorg       0                   2894           0.995186
                1                     14           0.004814
RedCross        0                  33115           0.972712
                1                    929           0.027288
RedCrossAU      0                   2484           0.880539
                1                    337           0.119461
RedCrossLebanon 0                   3463           0.986891
                1                     46           0.013109
SalvationArmyUS 0                   1149           0.919936
                1                    100           0.080064
SavetheChildren 0                   4223           0.974164
                1                    112           0.025836
WorldVision     0                   4398           0.924532
                1                    359           0.075468
boyscouts       0                   8070           0.999752
                1                      2           0.000248
girlscouts      0                   2305           0.917230
                1                    208           0.082770
irishredcross   0                    532           0.960289
                1                     22           0.039711
philredcross    0                   4648           0.951874
                1                    235           0.048126
redcrosscanada  0                   8080           0.904917
                1                    849           0.095083
ymca            0                   1672           0.977778
                1                     38           0.022222

In [17]:
for ngo in ["redcrosscanada","philredcross","girlscouts","WorldVision","SalvationArmyUS","RedCrossAU","NepalRedCross","ICRC_Nairobi","Habitat_org","BritishRedCross"]:
    temp_df=df[df['relatedNGO']==ngo].copy()
    num_answers=temp_df[temp_df['label']=='1'].shape[0]
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='1'].sample(frac=1)])
    # df_out=pd.concat([df_out,temp_df[temp_df['label']=='0'][:num_answers].sample(frac=1)])
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='0'].sample(frac=1)])

In [18]:
df_out.groupby('label').count()

,conversation_id,id,author_id,text,in_reply_to_user_id,replied_to,attachment,relatedNGO,author_followers,author_following,...,num_tokenized_words,num_hashtags,num_NGO_mentions,num_exclamation,num_question,has_question,sentiment,retweet,topic,num_characters
label,,,,,,,,,,,,,,,,,,,,,
0,37823,37823,37823,37823,37823,37823,37823,37823,37457,37457,...,37823,37823,37823,37823,37823,37823,37823,37823,37823,37823
1,3388,3388,3388,3388,3388,3388,3388,3388,3323,3323,...,3388,3388,3388,3388,3388,3388,3388,3388,3388,3388

In [19]:
name='ngos'

df_out.sample(frac=0.8,random_state=0).to_csv(f"data/train_wa_{name}.csv")
df_out.sample(frac=0.15,random_state=0).to_csv(f"data/eval_wa_{name}.csv")
df_out.sample(frac=0.05,random_state=0).to_csv(f"data/test_wa_{name}.csv")
df_out[df_out["label"]=="1"].sample(frac=1,random_state=0).to_csv(f"data/oo_wa_{name}.csv")
df_out[df_out["label"]=="0"].sample(min(10000,df_out[df_out["label"]=="0"].shape[0]),random_state=0).to_csv(f"data/oz_wa_{name}.csv")

In [20]:
df_unseen=df[~df['id'].isin(df_out['id'].values)].copy()
df_unseen.sample(10000,random_state=0).to_csv(f"data/la_10k_{name}.csv")
df_unseen[df_unseen['label']=='1'].to_csv(f"data/oo_la_{name}.csv")
df_unseen[df_unseen['label']=='0'].sample(10000,random_state=0).to_csv(f"data/oz_la_10k_{name}.csv")

### Banks

In [21]:
path='datasets/Banks_extended_features.csv'

In [22]:
df=pd.read_csv(path,dtype='str',index_col=0)
df['text_new']=df['text_new'].apply(ast.literal_eval)
df.index=df.index.astype(int)
df=df.dropna(subset='label').copy()

In [23]:
df_out=pd.DataFrame(columns=df.columns)
df_hiddens = pd.DataFrame(columns=df.columns)

In [24]:
pd.merge(df.groupby(["relatedNGO","label"]).count()[['conversation_id']],df.groupby(["relatedNGO","label"]).count()[['conversation_id']]/df.groupby(['relatedNGO']).count()[['conversation_id']],how='left',left_index=True,right_index=True)

                    conversation_id_x  conversation_id_y
relatedNGO   label
BofA_Help    0                    330           0.357143
             1                    594           0.642857
DeutscheBank 0                   5715           0.907287
             1                    584           0.092713
WellsFargo   0                   3392           0.785731
             1                    925           0.214269
jpmorgan     0                  10291           0.994107
             1                     61           0.005893

In [25]:
for ngo in ["BofA_Help","WellsFargo","DeutscheBank"]:
    temp_df=df[df['relatedNGO']==ngo].copy()
    num_answers=temp_df[temp_df['label']=='1'].shape[0]
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='1'].sample(frac=1)])
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='0'].sample(frac=1)])

In [26]:
df_out.groupby('label').count()

,conversation_id,id,author_id,text,in_reply_to_user_id,replied_to,attachment,relatedNGO,author_followers,author_following,...,text_new,num_mentions,num_links,num_full_words,num_tokenized_words,num_hashtags,num_NGO_mentions,num_exclamation,num_question,sentiment
label,,,,,,,,,,,,,,,,,,,,,
0,9437,9437,9437,9437,9437,9437,9437,9437,9354,9354,...,9437,9437,9437,9437,9437,9437,9437,9437,9437,9437
1,2103,2103,2103,2103,2103,2103,2103,2103,2091,2091,...,2103,2103,2103,2103,2103,2103,2103,2103,2103,2103

In [27]:
name='banks'

df_out.sample(frac=0.8,random_state=0).to_csv(f"data/train_wa_{name}.csv")
df_out.sample(frac=0.15,random_state=0).to_csv(f"data/eval_wa_{name}.csv")
df_out.sample(frac=0.05,random_state=0).to_csv(f"data/test_wa_{name}.csv")
df_out[df_out["label"]=="1"].sample(frac=1,random_state=0).to_csv(f"data/oo_wa_{name}.csv")
df_out[df_out["label"]=="0"].sample(min(10000,df_out[df_out["label"]=="0"].shape[0]),random_state=0).to_csv(f"data/oz_wa_{name}.csv")

In [28]:
df_unseen=df[~df['id'].isin(df_out['id'].values)].copy()
df_unseen.sample(10000,random_state=0).to_csv(f"data/la_10k_{name}.csv")
df_unseen[df_unseen['label']=='1'].to_csv(f"data/oo_la_{name}.csv")
df_unseen[df_unseen['label']=='0'].sample(10000,random_state=0).to_csv(f"data/oz_la_10k_{name}.csv")

### Airlines

In [29]:
path='datasets/Airlines_extended_features.csv'

In [30]:
df=pd.read_csv(path,dtype='str',index_col=0)
df['text_new']=df['text_new'].apply(ast.literal_eval)
df.index=df.index.astype(int)
df=df.dropna(subset='label').copy()

In [31]:
df_out=pd.DataFrame(columns=df.columns)
df_hiddens = pd.DataFrame(columns=df.columns)

In [32]:
pd.merge(df.groupby(["relatedNGO","label"]).count()[['conversation_id']],df.groupby(["relatedNGO","label"]).count()[['conversation_id']]/df.groupby(['relatedNGO']).count()[['conversation_id']],how='left',left_index=True,right_index=True)

                  conversation_id_x  conversation_id_y
relatedNGO label
Finnair    0                   2542           0.805195
           1                    615           0.194805
FlySWISS   0                   1467           0.551711
           1                   1192           0.448289
Ryanair    0                   4912           0.777831
           1                   1403           0.222169
SAS        0                   1760           0.631957
           1                   1025           0.368043
lufthansa  0                   2382           0.638264
           1                   1350           0.361736

In [33]:
for ngo in ['FlySWISS','SAS','lufthansa']:
    temp_df=df[df['relatedNGO']==ngo].copy()
    num_answers=temp_df[temp_df['label']=='1'].shape[0]
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='1'].sample(frac=1)])
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='0'].sample(frac=1)])

In [34]:
df_out.groupby('label').count()

,conversation_id,id,author_id,text,in_reply_to_user_id,replied_to,attachment,relatedNGO,author_followers,author_following,...,text_new,num_mentions,num_links,num_full_words,num_tokenized_words,num_hashtags,num_NGO_mentions,num_exclamation,num_question,sentiment
label,,,,,,,,,,,,,,,,,,,,,
0,5609,5609,5609,5609,5609,5609,5609,5609,5576,5576,...,5609,5609,5609,5609,5609,5609,5609,5609,5609,5609
1,3567,3567,3567,3567,3567,3567,3567,3567,3558,3558,...,3567,3567,3567,3567,3567,3567,3567,3567,3567,3567

In [35]:
name='airlines'

df_out.sample(frac=0.8,random_state=0).to_csv(f"data/train_wa_{name}.csv")
df_out.sample(frac=0.15,random_state=0).to_csv(f"data/eval_wa_{name}.csv")
df_out.sample(frac=0.05,random_state=0).to_csv(f"data/test_wa_{name}.csv")
df_out[df_out["label"]=="1"].sample(frac=1,random_state=0).to_csv(f"data/oo_wa_{name}.csv")
df_out[df_out["label"]=="0"].sample(min(10000,df_out[df_out["label"]=="0"].shape[0]),random_state=0).to_csv(f"data/oz_wa_{name}.csv")

In [37]:
df_unseen=df[~df['id'].isin(df_out['id'].values)].copy()
df_unseen.sample(min(10000,df_unseen.shape[0]),random_state=0).to_csv(f"data/la_10k_{name}.csv")
df_unseen[df_unseen['label']=='1'].to_csv(f"data/oo_la_{name}.csv")
df_unseen[df_unseen['label']=='0'].sample(min(10000,df_unseen[df_unseen['label']=='0'].shape[0]),random_state=0).to_csv(f"data/oz_la_10k_{name}.csv")

### ICRC

In [38]:
path='datasets/ICRC_extended_features.csv'

In [39]:
df=pd.read_csv(path,dtype='str',index_col=0)
df['text_new']=df['text_new'].apply(ast.literal_eval)
df.index=df.index.astype(int)
df=df.dropna(subset='label').copy()

In [40]:
df_out=pd.DataFrame(columns=df.columns)
df_hiddens = pd.DataFrame(columns=df.columns)

In [41]:
pd.merge(df.groupby(["relatedNGO","label"]).count()[['conversation_id']],df.groupby(["relatedNGO","label"]).count()[['conversation_id']]/df.groupby(['relatedNGO']).count()[['conversation_id']],how='left',left_index=True,right_index=True)

                       conversation_id_x  conversation_id_y
relatedNGO      label
BritishRedCross 0                   9256           0.904348
                1                    979           0.095652
ICRC_Nairobi    0                    664           0.922222
                1                     56           0.077778
IFRC_Europe     0                   2371           0.992050
                1                     19           0.007950
NepalRedCross   0                    102           0.871795
                1                     15           0.128205
RedCross        0                  33115           0.972683
                1                    930           0.027317
RedCrossAU      0                   2484           0.880539
                1                    337           0.119461
RedCrossLebanon 0                   3463           0.986891
                1                     46           0.013109
irishredcross   0                    532           0.960289
                1                     22           0.039711
philredcross    0                   4648           0.951874
                1                    235           0.048126
redcrosscanada  0                   8080           0.904917
                1                    849           0.095083

In [42]:
for ngo in ['BritishRedCross','NepalRedCross','RedCrossAU','redcrosscanada']:
    temp_df=df[df['relatedNGO']==ngo].copy()
    num_answers=temp_df[temp_df['label']=='1'].shape[0]
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='1'].sample(frac=1)])
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='0'].sample(frac=1)])

In [43]:
df_out.groupby('label').count()

,conversation_id,id,author_id,text,in_reply_to_user_id,replied_to,attachment,relatedNGO,author_followers,author_following,...,num_mentions,num_links,num_full_words,num_tokenized_words,num_hashtags,num_NGO_mentions,num_exclamation,num_question,has_question,sentiment
label,,,,,,,,,,,,,,,,,,,,,
0,19922,19922,19922,19922,19922,19922,19922,19922,19711,19711,...,19922,19922,19922,19922,19922,19922,19922,19922,19922,19922
1,2180,2180,2180,2180,2180,2180,2180,2180,2118,2118,...,2180,2180,2180,2180,2180,2180,2180,2180,2180,2180

In [44]:
name='icrc'

df_out.sample(frac=0.8,random_state=0).to_csv(f"data/train_wa_{name}.csv")
df_out.sample(frac=0.15,random_state=0).to_csv(f"data/eval_wa_{name}.csv")
df_out.sample(frac=0.05,random_state=0).to_csv(f"data/test_wa_{name}.csv")
df_out[df_out["label"]=="1"].sample(frac=1,random_state=0).to_csv(f"data/oo_wa_{name}.csv")
df_out[df_out["label"]=="0"].sample(min(10000,df_out[df_out["label"]=="0"].shape[0]),random_state=0).to_csv(f"data/oz_wa_{name}.csv")

In [45]:
df_unseen=df[~df['id'].isin(df_out['id'].values)].copy()
df_unseen.sample(min(10000,df_unseen.shape[0]),random_state=0).to_csv(f"data/la_10k_{name}.csv")
df_unseen[df_unseen['label']=='1'].to_csv(f"data/oo_la_{name}.csv")
df_unseen[df_unseen['label']=='0'].sample(10000,random_state=0).to_csv(f"data/oz_la_10k_{name}.csv")

### Other NGOs

In [46]:
path='datasets/OtherNGO_extended_features.csv'

In [47]:
df=pd.read_csv(path,dtype='str',index_col=0)
df['text_new']=df['text_new'].apply(ast.literal_eval)
df.index=df.index.astype(int)
df=df.dropna(subset='label').copy()

In [48]:
df_out=pd.DataFrame(columns=df.columns)
df_hiddens = pd.DataFrame(columns=df.columns)

In [49]:
pd.merge(df.groupby(["relatedNGO","label"]).count()[['conversation_id']],df.groupby(["relatedNGO","label"]).count()[['conversation_id']]/df.groupby(['relatedNGO']).count()[['conversation_id']],how='left',left_index=True,right_index=True)

                       conversation_id_x  conversation_id_y
relatedNGO      label
CatholicRelief  0                   1071           0.982569
                1                     19           0.017431
Ch_JesusChrist  0                  16566           0.998854
                1                     19           0.001146
Habitat_org     0                   4737           0.949870
                1                    250           0.050130
RESCUEorg       0                   2894           0.995186
                1                     14           0.004814
SalvationArmyUS 0                   1149           0.919936
                1                    100           0.080064
SavetheChildren 0                   4223           0.974164
                1                    112           0.025836
WorldVision     0                   4398           0.924532
                1                    359           0.075468
boyscouts       0                   8070           0.999752
                1                      2           0.000248
girlscouts      0                   2305           0.917230
                1                    208           0.082770
ymca            0                   1672           0.977778
                1                     38           0.022222

In [50]:
for ngo in ['SalvationArmyUS','WorldVision','girlscouts','Habitat_org']:
    temp_df=df[df['relatedNGO']==ngo].copy()
    num_answers=temp_df[temp_df['label']=='1'].shape[0]
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='1'].sample(frac=1)])
    df_out=pd.concat([df_out,temp_df[temp_df['label']=='0'].sample(frac=1)])

In [51]:
df_out.groupby('label').count()

,conversation_id,id,author_id,text,in_reply_to_user_id,replied_to,attachment,relatedNGO,author_followers,author_following,...,num_mentions,num_links,num_full_words,num_tokenized_words,num_hashtags,num_NGO_mentions,num_exclamation,num_question,has_question,sentiment
label,,,,,,,,,,,,,,,,,,,,,
0,12589,12589,12589,12589,12589,12589,12589,12589,12570,12570,...,12589,12589,12589,12589,12589,12589,12589,12589,12589,12589
1,917,917,917,917,917,917,917,917,917,917,...,917,917,917,917,917,917,917,917,917,917

In [52]:
name='other_ngo'

df_out.sample(frac=0.8,random_state=0).to_csv(f"data/train_wa_{name}.csv")
df_out.sample(frac=0.15,random_state=0).to_csv(f"data/eval_wa_{name}.csv")
df_out.sample(frac=0.05,random_state=0).to_csv(f"data/test_wa_{name}.csv")
df_out[df_out["label"]=="1"].sample(frac=1,random_state=0).to_csv(f"data/oo_wa_{name}.csv")
df_out[df_out["label"]=="0"].sample(min(10000,df_out[df_out["label"]=="0"].shape[0]),random_state=0).to_csv(f"data/oz_wa_{name}.csv")

In [53]:
df_unseen=df[~df['id'].isin(df_out['id'].values)].copy()
df_unseen.sample(min(10000,df_unseen.shape[0]),random_state=0).to_csv(f"data/la_10k_{name}.csv")
df_unseen[df_unseen['label']=='1'].to_csv(f"data/oo_la_{name}.csv")
df_unseen[df_unseen['label']=='0'].sample(10000,random_state=0).to_csv(f"data/oz_la_10k_{name}.csv")